*.log
*.tmp
.Xauthority
.abook
.authinfo*
.bash*
.cache
.dbus
.emacs.d/elpa
.fontconfig
.gimp*
.go*
.lesshst
.local/share/Trash
.local/share/applications/wine*
.local/share/icons
.local/share/mime/*
.local/share/newsbeuter
.local/share/webkit
.mbsyncrc
.mtab.fuseiso
.mu
.mutt.*
.*_hook
.serverauth*
.ssh
.texlive*
.wine
games*
go
music*
personal
projects
temp
