# -*- mode:conf -*-
[user]
email = ambrevar@gmail.com
name = Pierre Neidhardt

[color]
ui = true

[alias]
b = branch -vva
c = commit
ca = commit -a
co = checkout
d = diff --color-words
dc = diff --color-words --cached
l = log --stat
lol =  log --graph --decorate --pretty=format:'%C(yellow)%h %Cgreen%cd%C(bold red)%d%Creset %s' --abbrev-commit --date=short
m = mergetool
r = remote -v
s = status -uno
su = status -uno -u

[tar "tar.xz"]
command = xz -c

[push]
default = current

## Ediff merge tool.
## See:
##   http://kerneltrap.org/mailarchive/git/2007/7/1/250424
##   http://stackoverflow.com/questions/1817370/using-ediff-as-git-mergetool
[mergetool.ediff]
cmd = emacs --eval \" (progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"

[merge]
tool = ediff

[sendemail]
smtpencryption = tls
smtpserver = smtp.gmail.com
smtpuser = ambrevar@gmail.com
smtpserverport = 587
# to = guix-patches@gnu.org
suppresscc = author
# sendemail.confirm = auto
# aliasfiletype = mutt
# aliasesfile = ~/.mutt.d/aliases

[core]
pager = cat

[man]
viewer = catman

[man "catman"]
cmd = man -P cat

[credential]
	helper = netrc
