# -*- mode:conf -*-
[user]
	email = ambrevar@gmail.com
	name = Pierre Neidhardt
[color]
	ui = true
[alias]
	c = commit -a
	co = checkout
	m = mergetool
	s = status -uno
[push]
	default = simple

## Ediff merge tool.
## See:
##   http://kerneltrap.org/mailarchive/git/2007/7/1/250424
##   http://stackoverflow.com/questions/1817370/using-ediff-as-git-mergetool
[mergetool.ediff]
    cmd = emacs --eval \" (progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\" 

[merge]
	tool = ediff
