.Xauthority
.abook
.cache
.dbus
.fontconfig
.gimp*
.lesshst
.local/share/Trash
.local/share/icons
.local/share/dwb/extensions
.local/share/newsbeuter
.local/share/mime/*
.local/share/applications/wine*
.local/share/webkit
.mtab.fuseiso
.mutt.*
.ssh
.texlive*
.wine
.zcompdump
.zdirs
.zshistfile
personal
temp
todo.org
projects
