!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Xresources
!! 2013-08-04
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!------------------------------------------------------------------------------
!! URxvt
!! ------------------------------------------------------------------------------
!! url-select, clipboard and keyboard-select are provided in Muennich perl
!! plugins.

!! Plugin dir.
URxvt.perl-lib: .config/urxvt/

! URxvt*modifier: alt
URxvt.iso14755: False
URxvt*saveLines: 5000
URxvt*scrollBar: false

!! URL Support
URxvt.perl-ext:             url-select
URxvt.keysym.C-M-u:         perl:url-select:select_next
URxvt.url-select.launcher:  dwb
URxvt.url-select.underline: true

URxvt.perl-ext-common:      keyboard-select,clipboard
URxvt.keysym.C-M-Escape:    perl:keyboard-select:activate
URxvt.keysym.C-M-v:         perl:clipboard:paste
URxvt.keysym.C-M-c:         perl:clipboard:paste_escaped
! URxvt.clipboard.pastecmd:   xclip -o -selection clipboard -quiet -d locahost:0
URxvt.clipboard.autocopy:   true
URxvt.clipboard.pastecmd:   xclip -o -selection clipboard -quiet
URxvt.clipboard.copycmd:    xclip -i -selection clipboard

!!==============================================================================
!! Font
!!==============================================================================
!! WARNING: some Xft fonts (DejaVu, Liberation) seem to be messy with w3m image preview.
! URxvt*font: xft:Liberation Mono:pixelsize=14
! URxvt*font: xft:Dejavu Sans Mono:pixelsize=14
! URxvt*font: xft:Dejavu Sans Mono:pixelsize=14:antialias=false
! URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=14

!! Non-Xft version that are OK with w3m image preview.
! URxvt*font: -*-dejavu sans mono-*-*-*-*-*-*-*-*-*-*-iso8859-*
! URxvt*font: -*-dejavu sans-medium-r-*-*-14-*-*-*-*-*-*-*

!! Xft that are OK with w3m image preview.
! urxvt.font:              xft:terminus:pixelsize=14
urxvt.font:              xft:Dina:pixelsize=14

!! Xft options
! Xft.antialias: false
! Xft.antialias: rgba
Xft.hinting: true
Xft.hintstyle: hintlight
Xft.rgba: rgb

!! If not patched for letter spacing, this option might help.
! URxvt*letterSpace: -1

!!==============================================================================
!! Styles
!!==============================================================================
!! Find more styles on:
!! http://xcolors.net/
!! http://xcolors.net/dl/derp
!! https://bbs.archlinux.org/viewtopic.php?id=51818

!! Color order is as listed in .shell.d/colors_rc. Bright values are all
!! canonical colors except for blue and black which are not bright enough on a
!! black background.
URxvt.background: black
URxvt.foreground: white
URxvt.color0  : black
URxvt.color1  : #8b0000
URxvt.color2  : #228b22
URxvt.color3  : #cdcd00
URxvt.color4  : blue
URxvt.color5  : #8b008b
URxvt.color6  : #00bfff
URxvt.color7  : #f5f5f5
URxvt.color8  : #696969
URxvt.color9  : red
URxvt.color10 : green
URxvt.color11 : yellow
URxvt.color12 : #1e90ff
URxvt.color13 : magenta
URxvt.color14 : cyan
URxvt.color15 : white

!!==============================================================================
!! Xterm
!!==============================================================================

*VT100*translations: #override Meta <Btn1Up>: exec-formatted("dwb '%t'", PRIMARY)
! XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
! xterm.font:              xft:Dina:pixelsize=18
! xterm*font       : -*-dejavu sans-medium-r-*-*-14-*-*-*-*-*-*-*
xterm*faceName:DejaVu Sans Mono:pixelsize=14

!! Make Meta-* bindings work.
*VT100.eightBitInput: false

xterm*background: black
xterm*foreground: white
xterm*color0  : black
xterm*color1  : #8b0000
xterm*color2  : #228b22
xterm*color3  : #cdcd00
xterm*color4  : blue
xterm*color5  : #8b008b
xterm*color6  : #00bfff
xterm*color7  : #f5f5f5
xterm*color8  : #696969
xterm*color9  : red
xterm*color10 : green
xterm*color11 : yellow
xterm*color12 : #1e90ff
xterm*color13 : magenta
xterm*color14 : cyan
xterm*color15 : white

