!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Xresources
!! 2012-07-12
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!! TODO: set up charclass.
!! TODO: check Xft options.
!! TODO: prevent URxvt from intercepting ALT+Arrows and PageUp/Down.

!! Xft options
! Xft.hinting: true 
! Xft.hintstyle: hintfull 
! Xft.antialias: rgba 
! Xft.rgba: rgb

!!------------------------------------------------------------------------------
!!URxvt
!!------------------------------------------------------------------------------

! URxvt*modifier: alt
URxvt*saveLines: 5000
URxvt*scrollBar: false

!! Plugins
!! clipboard and keyboard-select are not provided by default.
URxvt.perl-ext-common  : default,matcher,keyboard-select

! URxvt.keysym.M-v:   perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

!! Keyboard-Select
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
! URxvt.keysym.M-s:       perl:keyboard-select:search

!! URL Support
URxvt.matcher.button   : 1
URxvt.keysym.C-Delete  : perl:matcher:last
URxvt.keysym.M-Delete  : perl:matcher:list
URxvt.urlLauncher      : luakit
URxvt.underlineURLs    : true

!! TODO: Does not work.
URxvt*keysym.M-Left:  \033[1;3D

!! Font
! URxvt*letterSpace: -1

URxvt*font       : xft:Monospace:pixelsize=14
URxvt*boldFont   : xft:Monospace:bold:pixelsize=14
! URxvt.font     : xft:Bitstream Vera Sans Mono:pixelsize=14
! URxvt.font     : -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso8859-1
! URxvt.font     : -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
! URxvt.font     : xft:DejaVu Sans Mono:pixelsize=12
! URxvt.font     : xft:Monospace 10:pixelsize=12
! URxvt.font     : xft:Monospace:pixelsize=12
! URxvt.font     : xft:monaco:size=10
! URxvt*boldFont : xft:Monospace Bold:pixelsize=12

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Styles
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!! Colors list
!! color0  = black 	
!! color1  = red 	        
!! color2  = green 	
!! color3  = yellow 	
!! color4  = blue 	        
!! color5  = magenta 	
!! color6  = cyan 	        
!! color7  = white 	
!! color8  = bright black 	
!! color9  = bright red 	
!! color10 = bright green 	
!! color11 = bright yellow 
!! color12 = bright blue 	
!! color13 = bright magenta
!! color14 = bright cyan 	
!! color15 = bright white 	

!! Gnome style
URxvt*background: black
URxvt*foreground: #CCCCCC
URxvt.color0  : #000000
URxvt.color1  : #AA0000
URxvt.color2  : #00AA00
URxvt.color3  : #AA5500
URxvt.color4  : #0000AA
URxvt.color5  : #AA00AA
URxvt.color6  : #00AAAA
URxvt.color7  : #AAAAAA
URxvt.color8  : #555555
URxvt.color9  : #FF5555
URxvt.color10 : #55FF55
URxvt.color11 : #FFFF55
URxvt.color12 : #5555FF
URxvt.color13 : #FF55FF
URxvt.color14 : #55FFFF
URxvt.color15 : #FFFFFF

!! Dark style
! urxvt.color0: rgb:00/00/00
! urxvt.color1: rgb:9e/18/28
! urxvt.color2: rgb:5c/b2/47
! urxvt.color3: rgb:96/8a/38
! urxvt.color4: rgb:41/61/a0
! urxvt.color5: rgb:9b/76/8e
! urxvt.color6: rgb:41/91/89
! urxvt.color7: rgb:de/de/de
! urxvt.color8: rgb:66/66/66
! urxvt.color9: rgb:cf/61/71
! urxvt.color10: rgb:c5/f7/79
! urxvt.color11: rgb:ff/f7/96
! urxvt.color12: rgb:41/86/be
! urxvt.color13: rgb:cf/9e/be
! urxvt.color14: rgb:71/be/be
! urxvt.color15: rgb:dd/dd/dd

!! Tangoesque style
!*background: #111111
!*foreground: #babdb6
! *color0:  #000000
! *color1:  #ff6565
! *color2:  #93d44f
! *color3:  #eab93d
! *color4:  #204a87
! *color5:  #ce5c00
! *color6:  #89b6e2
! *color7:  #cccccc
! *color8:  #555753
! *color9:  #ff8d8d
! *color10: #c8e7a8
! *color11: #ffc123
! *color12: #3465a4
! *color13: #f57900
! *color14: #46a4ff
! *color15: #ffffff
