[rules]
  [rule]
      instance = "Mail"
      class = "Thunderbird"

      role   = "3pane"
      # name   = ""
      # theme  = "default"

      tag    = 6  # 2nd tag
      screen = 0

      free       = false
      tab        = false
      ignore_tag = false
  [/rule]

  [rule]
      instance = "xv"
      class = "MPlayer"
      free = true
  [/rule]

[/rules]
